#startBtn{

}
#addSubtractWrapper{
    display: none;
}
#easyHardWrapper{
    display: none; 
}
#questionAnswerWrapper{
    display: none;  
}
#resetButtonID{
    display: none;
}
#nextBtn{
    visibility: hidden;
}