.startSection {
  width: 100%;
}
#startBtn {
  width: 40%;
  margin: auto;
}

#addSubtractWrapper {

  display: none;

  /* position: absolute;
left: 500px;
top:100px;
z-index: 1; */
}
#easyHardWrapper {
  display: none;
  /* position: absolute;
left: 500px;
top:100px;
z-index: 1;  */
}
.mainContainer {
  position: absolute;
  left: 200px;
  top: 10px;
  width: 50%;
  height: 500px;
  border: solid 20px red;
  text-align: center;
}
#questionAnswerWrapper {
  display: none;

  /* position: absolute; */
  /* left: 500px;
top:100px; */
  /* z-index: 1;     */
}
#resetButtonID {
  display: none;
  position: relative;
  top: 150px;
  left: 220px;
  width: 40%;
}
#holdScoreID {
  display: none;
}
#nextBtn {
  display: none;
}
.startSection {
  /* display: flex; */
  align-items: center;
  flex-direction: column;
  margin: auto;
  /* border: 2px solid pink; */
  /* height: 300px; */
  width: 50%;
  /* position: absolute; */
  /* left:300px; */
  /* z-index: 5; */
}
.wrapLevelInputandP {
  display: flex;
}
.containerAllLevelInputP {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.wrapInputSubmitBtn {
  width: 80%;
  border: 2px solid green;
  display: flex;
  height: 50px;
  padding: 10px;
margin: 0px 50px;
  
}
/* #resetButtonID {
  position: relative;
  bottom: 0;
} */
/* control image goodjob badjob  */
#rocketID {
  margin-top: 50px;
}
